h3 {
  margin: 0rem;
  padding: 0;
  /* background-color: aqua; */
}

.main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgoldenrod;

}

.card {
  width: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .4rem;
}

.button_container {
  /* background-color: lightslategray; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
}

.alert_name-container {
  width: 16rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form_type{
  /* background-color: lightcoral; */
  font-size: .7rem;
}
.alert_name {
  font-size: 1rem;
  font-weight: bold;
}

.card_text_container {
  font-size: .81rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: .1rem solid gray;
  border-radius: .3rem;
  margin-right: .3rem;
  padding: .3rem;
}

.card_text_container_text {
  margin: 0;
  padding: 0;
  font-size: 1em;
  /* background-color: rebeccapurple; */
}

.preview {
  color: rgba(86, 8, 95, 0.499);
  margin-bottom: .1rem;
}
