<mat-card class="card">
  <div>
    <div class="alert_name-container">
      <div class="alert_name">{{data?.alert_name}}</div>
      <div class="form_type">{{'Data source-' + data?.data_source}}</div>
    </div>
    <p class="preview">Piview</p>
    <div class="card_text_container">
      <p class="card_text_container_text">Dear {{data?.name}}, Please verify your Roll number and Email id</p>
      <p class="card_text_container_text"> Roll no:{{data?.roll_number}}</p>
      <p class="card_text_container_text">Email id: {{data?.email_id}}</p>
    </div>

  </div>
  <div class="button_container">
    <app-button label="Edit" klass="cardButton cardButton_edit" (click)="onClickEdit()"></app-button>
    <app-button label="Send" klass="cardButton" (click)="onClickSend()"></app-button>
    <app-button label="Delete" klass="cardButton cardButton_delete" (click)="onClickDelete()"></app-button>
  </div>
</mat-card>
