.main_container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */

}

.refreshButtonContainer {
  position: fixed;
  z-index: 500;
  top: 8rem;
  left: 20rem;
}
