.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
  /* background-color: lightseagreen; */

}

.checkbox_main {

  /* background-color: rgb(129, 214, 210); */
  margin-bottom: 1rem;

}

.checkbox_main {
  margin: 1rem;
}

.checkbox_secondpart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  /* background-color: yellow; */
}

.button_div button {
  padding: .4rem 1.5rem;
  border: none;
  border-radius: .3rem;
  background-color: rgb(107, 107, 220);
  color: white;
  margin-top: 1rem;
}


/* new projects class */

.input_container {}

.input_sub_container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.radio_button_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.priview_button_container {
  position: relative;
}

.create_button_container {
  position: relative;
}

.button_label {
  width: 10rem;
  position: absolute;
  font-size: .7rem;
  color: rgba(251, 0, 0, 0.462);
}

.preview_input_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.csv_sample {
  min-width: 100%;
  height: 10rem;
  background-color: rgba(241, 241, 241, 0.534);
  margin-bottom: .41rem;
  overflow: scroll;
  padding-left: .2rem;
  scroll-behavior: smooth;
  scrollbar-width: 1;
}

.box_shadow {
  -moz-box-shadow: 3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.inner_shadow {
  /* border: 1px solid; */
  box-shadow: 2px 2px 2px rgba(118, 118, 118, 0.459) inset;
}
.first_line{
  font-weight: bolder;
}