.main_container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* background-color: rgb(205, 152, 152); */
  height: 100%;
  /* padding: .3rem 1rem 0 1rem; */
  /* width: 100%; */
}

.padding {
  padding: 1rem;
}



.header_container {
  /* background-color: yellowgreen; */
  /* border-bottom: .01rem solid gray; */
  height: 5%;
}

.content_container {
  height: 89%;
  /* background-color: rgb(229, 237, 211); */
  /* width: 100%; */
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.footer_container {
  border-top: .01rem solid gray;
  height: 1%;
}
